click==8.1.2
cycler==0.11.0
Flask==2.1.1
gunicorn==20.1.0
Jinja2==3.1.1
fonttools==4.31.2
imbalanced-learn==0.9.0
imblearn==0.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
joblib==1.1.0
kiwisolver==1.4.2
matplotlib==3.5.1
missingno==0.5.1
numpy==1.22.3
pandas==1.4.2
Pillow==9.1.0
PyQt5==5.12.3
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
skfeature-chappers==1.1.0
threadpoolctl==3.1.0
webencodings==0.5.1
Werkzeug==2.1.1
xlrd==1.2.0
zipp==3.5.0
