"""
Created on Tue Apr  5 21:45:28 2022

@author: gzner
"""
<!DOCTYPE html>
<html>
<body>

<h2>Upload CSV file which contains prediction data </h2>
<h2>Please Note: In order to train the model on new training data, please use the python
    notebook: ../notebooks/KLARNA_CASE_STUDY/KLARNA_DS_CASE_V2.ipython</h2>
<form method='POST' enctype='multipart/form-data' action='/data'>
    <input type=file name=file>
    <button type=submit value=Upload>Predict</button>
</form>
</body>
</html>